name: Build

on:
  push: {}
  pull_request: {}

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Repository checkout
        uses: actions/checkout@v2

#       - name: Install latest nightly
#         uses: actions-rs/toolchain@v1
#         with:
#             toolchain: nightly
#             override: true
#             components: rustfmt, clippy

      - name: Build
        run: cargo build --verbose

      # - name: Run tests
      #   run: cargo test --verbose
